container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
    width: 100vw;
}

#header {
   text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#maintop {
    display: flex;
    flex-direction: column;
    }

#newbook {
    margin-bottom:20px;
}

table {
    margin-top: 2rem;
    border-collapse: collapse;
    }

tr {
    border-style: solid;
    border-color: black;   
}

td {
    padding: 15px;
}

#submitNew {
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-self: center;
    justify-self: center;
    gap: 1.5rem;
    /* visibility: hidden; */
       
}
.formdiv {
    display: flex;
    flex-direction: column;
    justify-items: ce;
}

label {
    align-self: center;
}

form > input {
    width: 10rem;
    align-self: center;
}

form > select {
    width: 3rem;
    align-self: center;
}

#submit {
    display: grid;
    justify-items: center;
    margin-left: 13rem;
}