container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
    width: 100vw;
}

#header {
   text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#maintop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#newbook {
    margin-bottom:20px;
}

table {
    margin-top: 2rem;
    border-collapse: collapse;
    }

tr {
    border-style: solid;
    border-color: black;   
}

td {
    padding: 15px;
}

#submitNew {
    display: flex;
    flex-direction: column;
       
}

label {
    align-self: center;
}

form > input {
    width: 10rem;
    align-self: center;
}

form > select {
    width: 3rem;
    align-self: center;
}